body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.hidden {
    display: none;
}

#intro {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#intro img {
    width: 300px;
    cursor: pointer;
}

#main {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff66b2;
}

button {
    background-color: #ff66b2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3385;
}

#message {
    margin: 20px 0;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background: none;
}

#pandaImage {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: block;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
